[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-core = "*"
langchain-chroma = "*"
pypdf = "*"
langchain-text-splitters = "*"
chromadb = "==0.5.0"

[dev-packages]

[requires]
python_version = "3.11"
